.creditCard_container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 200px;
    height: 120px;
    padding: 10px;
}

.creditCard_container img {
    width: 40px;
    margin-left: auto;
}

.info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.creditNum {
    padding-left: 14px;
}

.expiration {
    display: flex;
    gap: 10px;
    padding-top: 18px;
}

.notNumber {
    font-size: 12px;
    padding-left: 6px;
}